name: 'Enforce Linter'

on:
  push:
    branches:
      - main
      - testnet
      - develop
      - experimental
  pull_request:
    branches:
      - main
      - testnet
      - develop
      - experimental

jobs:
  run-linter:
    name: Run linter
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.4.0'
          cache: 'pnpm'
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Lint Check
        run: pnpm lint
